#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  gap: 2rem;
}

.users {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.posts {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user {
  border: 2px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
  user-select: none;
}

.user:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}